# Workaround
all: |
  /* Disable JS enhancements of interactive elements */
  .mw-tmh-player, wiki-chart { background: white; }
  .mw-tmh-player *, wiki-chart * { visibility: hidden; }
  /* Workaround for https://phabricator.wikimedia.org/T375137 */
  section > div.mw-heading3 + div > figure:first-child {
    margin-top: 1.5px !important;
  }
  /* Banners can lead to false positives so hide */
  .mw-dismissable-notice,
  /* Banners can reflow on mobile to adjust their focal point so hide */
  .ext-wpb-pagebanner,
  /* Galleries cause reflows so ignore. T242143 */
  .gallery { display: none !important; }
  /* Workaround for https://phabricator.wikimedia.org/T414882 */.
  .mf-collapsible-content:not(:has(> p, > ul, > ol)) > section:first-of-type .mw-heading3 { margin-top: 0 !important; }
